.btn-outline-dark:focus, .btn-outline-dark:active {
  box-shadow: none;
}

.header {
	margin-top: 3rem;
}

form {
	margin-top: 2rem;
	margin-bottom: 2rem;
  padding: 1rem;
  &.show-form {
    visibility: visible;
  }
  &.hide-form {
    visibility: hidden;
  }
	input {
		&:focus,
		&:focus {
			outline: none;
		}
	}
	.form-control.checkbox-input-field {
		&:focus {
			color: #495057;
			background-color: #fff;
			outline: 0;
			box-shadow: none;
		}
	}
	.role-option {
		select {
			cursor: pointer;
		}
	}
	.form-group {
		&.form-check {
			.form-check-label {
				cursor: pointer;
			}
		}
		.custom-select {
			cursor: pointer;
		}
	}
}

.form-wrapper {
  margin-bottom: 3rem;
  .form-error {
    font-size: 12px;
    padding: 0 5px;
    color: red;
  }
}
.form-info {
  padding: 10px;
  margin-bottom: 3rem;
  table {
    margin:3px;
    th {
      padding:5px;
      text-align: center;
      font-weight: 300;
    }
    td {
      padding:7px;
      text-align: center;
    }
  }
}
