.header {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

form {
  margin-top:3rem;
  margin-bottom: 3rem;
  padding:1rem;
  input {
    &:focus, &:focus {
      outline: none;
    }

  }
  .form-control.checkbox-input-field {
    &:focus {
      color: #495057;
      background-color: #fff;
      outline: 0;
      box-shadow: none;
    }
  }
  .role-option {
    select {
      cursor: pointer;
    }

  }
  .form-group {
    &.form-check {
     .form-check-label {
        cursor: pointer;
     }
    }
    .custom-select {
      cursor: pointer;
    }
  }

}
