.table-wrapper {

  tbody {
    tr {
      &:hover {
        background-color: #f55f54;
        color:#ffffff;
        outline: 1px ridge #bf3f58;
        transition:all .25 ease-in;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
        td {
          color: #ffffff;
          cursor: pointer;

        }



    }


    }
  }

}

button {
  &:focus {
    outline:none;
  }
}

a.nav-link {
  color:#ffffff;
  font-size:1.15rem;
  font-weight: 400;
  &:hover {
    color: #dcdcdc;
  }
  &.is-active {
    color:#dcdcdc;
  }
}
